@media screen and (max-width: 1440px) {
    .wraper {
        max-width: 95%;
    }
    .main-screen .wraper .container .bicycle {
        background-position-x: center;
        background-size: 88%;
    }
    .screen-seven .wraper .containers .bike {
        background-size: 88%;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 66px;
        line-height: 74px;
    }
    .screen-three .wraper h2 {
        font-size: 66px;
    }
    .screen-four .wraper .container h2 {
        font-size: 66px;
    }
    .screen-five .wraper h2 {
        font-size: 66px;
    }
    .screen-six .wraper h2 {
        font-size: 66px;
    }
    .screen-two .wraper .block-right .img1 {
        height: 560px;
        width: 320px;
    }
    .screen-two .wraper .block-right .img2 {
        height: 340px;
        width:  260px;
    }
    .screen-two .wraper .block-right .img3 {
        height: 340px ;
        width: 260px;
    }
    .screen-two .wraper .block-right .btn-play-two {
        right: 292px;
        top: 185px;
    }
}
@media screen and (max-width:1300px) {
    .screen-four .wraper {
        width: 100%;
    }
    .screen-seven .wraper .containers {
        height: 980px;
    }
    .main-screen .wraper .container {
        height: 740px;
    }
}
@media screen and (max-width: 1200px) {
    .screen-four .wraper {
        width: 100%;
    }
    .screen-seven .wraper .containers {
        height: 940px;
    }
    .screen-three .wraper .cards .card img {
        width: 376px;
        height: 475px;
    }
    .main-screen .wraper .container {
        height: 720px;
    }
    .main-screen .wraper .container h1 {
        font-size: 96px;
    }
   
   
}

@media screen and (max-width: 1100px) {
    .screen-seven .wraper .containers {
        height: 900px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 60px;
        line-height: 68px;
        margin-top: 154px;
    }
    .screen-five .wraper h2 {
        font-size: 60px;
        line-height: 68px;

    }
    .screen-two .wraper .block-right .img1 {
        height: 540px;
        width: 300px;
        right: 324px;
        top: 113px;
    }
    .screen-two .wraper .block-right .img2 {
        height: 320px;
        width:  240px;
        right: 144px;
        top: 434px;
    }
    .screen-two .wraper .block-right .img3 {
        height: 320px ;
        width: 240px;
        top: 176px;
    }
    .screen-two .wraper .block-right .btn-play-two {
        right: 260px;
        top: 137px;
    }
    #mobile .swiper-slide img {
        max-width: 100%;
    }
    /* .screen-four .wraper .container .btn-marketplace {
        left: 70%;
    } */

    header .wraper .header-right .menu {
        display: flex;
        width: 35px;
        margin-left: 20px;
    }
    header .wraper .header-right .menu img {
        max-width: 100%;
    }

    header .wraper .header-left nav {
        display: none;
    }

    header .wraper  {
        position: relative;
    }
    header .wraper .header-left nav {
        position: absolute;
        right: 0;
        top: 65px;
        background-color: white;
        width: auto;
        border-radius: 8px;
        padding: 10px 5%;
        text-align: right;
        z-index: 1;
    }
    header .wraper .header-left nav ul {
        display: flex;
        flex-direction: column;
    }
    .header-left nav ul li a {
        padding: 5px 0;
    }
    .header-left nav ul li a {
        color: black;
    }
    .main-screen .wraper .container {
        height: 700px;
    }
    .main-screen .wraper .container h1 {
        font-size: 92px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 60px;
        line-height: 68px;
    }
    .screen-two .wraper .block-left h4 {
        margin-top: 36px;
    }
    .screen-two .wraper .block-left .block-left-two {
        margin-top: 40px;
    }
    .screen-two .wraper .block-right .img1 {
        height: 520px;
        right: 304px;
    }
    .screen-two .wraper .block-right .img2 {
        height: 300px;
        top: 414px;
    }
    .screen-two .wraper .block-right .img3 {
        height: 300px;
    }
    .screen-two .wraper .block-right .btn-play-two .btn-three {
        font-size: 14px;
    }
    .screen-two .wraper .block-right .btn-play-two {
        right: 242px;
    }
    .screen-two .wraper {
        height: 800px;
    }
    .screen-three .wraper h2 {
        font-size: 60px;
        line-height: 68px;
    }
    .screen-six .wraper h2 {
        font-size: 60px;
        line-height: 68px;

    }
    .screen-three .wraper .cards .card img {
        width: 356px;
        height: 455px;
    }
    .screen-seven .wraper .containers h1 {
        font-size: 64px;
    }
    .screen-four .wraper .container h2 {
        font-size: 60px;
        line-height: 68px;
    }

}

@media screen  and (max-width:1000px) {
    .main-screen .wraper .container {
        height: 680px;
    }
    .main-screen .wraper .container h1 {
        font-size: 88px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 52px;
        line-height: 60px;
    }
    .screen-six .wraper h2 {
        font-size: 52px;
        line-height: 60px;
    }
    .screen-two .wraper .block-right .img1 {
        height: 520px;
        right: 264px;
    }
    .screen-two .wraper .block-right .btn-play-two {
        right: 203px;
    }
    .screen-three .wraper .cards .card img {
        width: 346px;
        height: 445px;
    }
    .screen-six .wraper .accordion.active table td {
        font-size: 14px;
    }
    .screen-seven .wraper .containers {
        height: 870px;
    }
    
}
@media screen and (max-width:950px) {
    .screen-two .wraper .block-left h2 {
        margin-top: 140px;
    }
    .screen-two .wraper .block-right .btn-play-two {
        display: none;
    }
    .screen-two .wraper .block-right {
        display: flex;
        justify-content: space-between;
    }
    .screen-two .wraper .block-right .img1 {
        position: initial;
        margin-top: 80px;
        /* width: 260px;
        height: auto; */
        margin-right: 0;
        width: 260px;
        height: 280px;
    }
    .screen-two .wraper .block-right .img2 {
        position: initial;
        margin-top: 80px;
        /* width: 260px;
        height: auto; */
        margin-right: 0;
        width: 260px;
        height: 280px;
    }
    .screen-two .wraper .block-right .img3 {
        position: initial;
        margin-top: 80px;
        /* width: 260px;
        height: auto; */
        margin-right: 0;
        width: 260px;
        height: 280px;
    }
    
    .screen-two .wraper {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .screen-two .wraper .block-left h4 {
    width: 80%;
    }
    .screen-two .wraper .block-left h2 {
        width: 95%;
    }
    .screen-three .wraper h2 {
        margin-top: 140px;
    }
    .screen-four .wraper {
        margin-top: 140px;
    }
    .screen-seven .wraper .containers {
        height: 840px;
    }
    .screen-two .wraper .block-right {
        position: initial;
        width: 100%;
    }
   
}

@media screen and (max-width:900px) {
    .main-screen .wraper .container {
        height: 650px;
    }
    .screen-seven .wraper .containers {
        height: 820px;
    }
    table {
        width: 100%;
    }
}
@media screen and (max-width:870px) {
    .screen-four .wraper .container h2 {
        font-size: 50px;
        line-height: 58px;
    }
    .screen-three .wraper h2 {
        margin-top: 120px;
        font-size: 50px;
        line-height: 58px;
    }
    .screen-three .wraper .cards .card img {
        width: 316px;
        height: 415px;
    }
    .screen-three .wraper .cards .card p {
        width: 80%;
    }
    .screen-five .wraper h2 {
        font-size: 50px;
        line-height: 58px;
    }
    .screen-six .wraper h2 {
        font-size: 50px;
        line-height: 58px;

    }
    .screen-four .wraper {
        margin-top: 120px;
    }
}

@media screen and (max-width:850px) {
    .main-screen .wraper .container h1 {
        font-size: 80px;
        line-height: 88px;
    }
    .main-screen .wraper .container {
        height: 590px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 50px;
        line-height: 58px;
        margin-top: 120px;
    }
    .screen-two .wraper .block-left h4 {
        margin-top: 24px;
    }
    .screen-two .wraper .block-right .img1 {
        height: 270px;
        width: 250px;
        margin-top: 60px;
    }
    .screen-two .wraper .block-right .img2 {
        height: 270px;
        width: 250px;
        margin-top: 60px;
    }
    .screen-two .wraper .block-right .img3 {
        height: 270px;
        width: 250px;
        margin-top: 60px;
    }
    .screen-four .wraper .container .btn-marketplace {
        flex-direction: column;
    }
    .screen-four .wraper .container .text-image h3 {
        font-size: 20px;
    }
  
}
@media screen and (max-width: 800px) {
    .main-screen .wraper .container h1 {
        font-size: 78px;
        line-height: 86px;
    }
    .main-screen .wraper .container {
        height: 580px;
    }
    .screen-two .wraper .block-left h2 {
        margin-top: 100px;
    }
    .screen-four .wraper {
        margin-top: 100px;
    }
    .screen-two .wraper .block-right .img1 {
        height: 260px;
        width: 240px;
    }
    .screen-two .wraper .block-right .img2 {
        height: 260px;
        width: 240px;
    }
    .screen-two .wraper .block-right .img3 {
        height: 260px;
        width: 240px;
    }
    .screen-three .wraper h2 {
        margin-top: 100px;
    }
    .screen-three .wraper .cards .card img {
        width: 306px;
        height: 405px;
    }
    /* .screen-three .wraper .cards .card p {
        font-size: 12px;
    } */
    .screen-four .wraper .container .text-image h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .reviews .text-review p {
        font-size: 18px;
    }
    .screen-seven .wraper .containers {
        height: 780px;
    }
    .authors {
        margin-left: 0;
        width: 100%;
    }
    .wraper-reviews {
        max-width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .screen-two .wraper .block-right .img1 {
        height: 240px;
        width: 220px;
    }
    .screen-two .wraper .block-right .img2 {
        height: 240px;
        width: 220px;
    }
    .screen-two .wraper .block-right .img3 {
        height: 240px;
        width: 220px;
    }
    .screen-three .wraper .cards .card img {
        width: 296px;
        height: 395px;
    }
    .screen-three .wraper .cards .card p {
        width: 80%;
    }
    .screen-four .wraper .container .text-colomn p:last-child {
        padding-left: 0;
    }
    .screen-four .wraper .container .text-image {
        width: 33%;
    }
    .screen-seven .wraper .containers {
        height: 750px;
    }
    .btn-play .btn img {
        width: 42px;
        height: 42px;
    }
    .main-screen .wraper .container {
        height: 570px;
    }
   
}

@media screen and (max-width: 700px) {
    .screen-five .wraper h2 {
        font-size: 48px;
        line-height: 54px;
    }
    .screen-two .wraper .block-right .img1 {
        width: 200px;
        height: 220px;
    }
    .screen-two .wraper .block-right .img2 {
        width: 200px;
        height: 220px;
    }
    .screen-two .wraper .block-right .img3 {
        width: 200px;
        height: 220px;
    }
    .main-screen .wraper .container h1 {
        font-size: 72px;
        line-height: 80px;
    }
    .main-screen .wraper .container {
        height: 540px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 48px;
        line-height: 54px;
    }
    .screen-three .wraper h2 {
        font-size: 48px;
        line-height: 54px;
    }
    .screen-four .wraper .container h2 {
        font-size: 48px;
        line-height: 54px;
    }
    .accordion {
        font-size: 18px;
    }
    .screen-seven .wraper .containers h1 {
        font-size: 56px;
        line-height: 64px;
    }
    .screen-seven .wraper .containers {
        height: 710px;
    }
    .screen-two .wraper .block-left h2 {
        margin-top: 80px;
    }
    .screen-three .wraper h2 {
        margin-top: 80px;
    }
    .screen-four .wraper {
        margin-top: 80px;
    }
    .screen-five .wraper {
        margin-top: 80px;
    }
    .screen-five .wraper h2 {
        margin-bottom: 62px;
    }
    .screen-six .wraper {
        margin-top: 80px;
    }
    .screen-seven .wraper {
        margin-top: 80px;
    }
    .screen-seven .wraper .containers {
        height: 680px;
    }
    .main-screen .wraper .container h1 {
        font-size: 70px;
        line-height: 78px;
    }
    .main-screen .wraper .container h4 {
        padding-top: 79px;
    }
    .screen-seven .wraper .containers h4 {
        padding-top: 79px;
    }
    .main-screen .wraper .container {
        height: 500px;
    }
    .header-left .header-logo .header-logo-link img {
        height: 18px;
    }
    .screen-three .wraper .cards .card img {
        width: 276px;
        height: 375px;
    } 
    .card.swiper-slide {
        margin-bottom: 60px;
    }  
    table td {
        font-size: 14px;
    }
    .screen-seven .wraper .containers h1 {
        font-size: 52px;
        line-height: 60px;
    }
}
@media screen and (max-width: 600px) {
    .main-screen .wraper .container {
        height: 470px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 42px;
        line-height: 50px;
    }
    .screen-two .wraper .block-right .img1 {
        width: 180px;
        height: 200px;
    }
    .screen-two .wraper .block-right .img2 {
        width: 180px;
        height: 200px;
    }
    .screen-two .wraper .block-right .img3 {
        width: 180px;
        height: 200px;
    }
    .screen-three .wraper h2 {
        font-size: 42px;
        line-height: 50px;
    }
    .screen-four .wraper .container h2 {
        font-size: 42px;
        line-height: 50px;
    }
    .screen-four .wraper .container .text-image p {
        font-size: 13px;
    }
    .screen-five .wraper h2 {
        font-size: 42px;
        line-height: 50px;
    }
    .reviews .text-review p {
        font-size: 16px;
    }
    .authors .customer.active .h h4 {
        font-size: 18px;
    }
    .screen-six .wraper h2 {
        font-size: 42px;
        line-height: 50px;
    }
    .screen-seven .wraper .containers {
        height: 650px;
    }
    footer .wraper .left {
        margin-top: 24px;
        align-items: flex-start;
    }
    footer .wraper .right ul {
        flex-direction: column;
    }
    footer .wraper .right ul li a {
        padding: 4px 8px;
    }
  

    footer .wraper .right ul span {
        padding: 4px 8px;
    }
    footer .wraper .right ul {
        margin-top: 24px;
    }
}

@media screen and (max-width: 550px) {
    .screen-four .wraper .container .text-colomn {
        flex-direction: column;
    }
    .screen-four .wraper .container .text-colomn p:first-child {
        margin-bottom: 20px;
        width: 98%;
    }
    .screen-four .wraper .container .text-colomn p:last-child {
        width: 98%;
    }
    .screen-four .wraper .container .text-image {
        left: 20px;
    }
    .screen-seven .wraper .containers h1 {
        font-size: 48px;
        line-height: 54px;
    }
    .screen-seven .wraper .containers .wrapper {
        margin-top: 34px;
    }
    .screen-seven .wraper .containers {
        height: 570px;
    }
    .wraper-btn {
        padding: 12px 14px;
    }
    .screen-seven .wraper .containers .btn-order {
        padding: 12px 22px;
    }
    .screen-two .wraper .block-right .img1 {
        width: 160px;
        height: 180px;
    }
    .screen-two .wraper .block-right .img2 {
        width: 160px;
        height: 180px;
    }
    .screen-two .wraper .block-right .img3 {
        width: 160px;
        height: 180px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 40px;
    }
    .screen-two .wraper .block-left h4 {
        width: 98%;
    }
    .screen-three .wraper .cards .card img {
        width: 266px;
        height: 365px;
    }
}

@media screen and (max-width: 500px ) {
    .main-screen .wraper .container h1 {
        font-size: 54px;
        line-height: 62px;
    }
    .main-screen .wraper .container {
        height: 420px;
    }
    .main-screen .wraper .container h4 {
        padding-top: 59px;
    }
    .screen-two .wraper .block-left h4 {
        font-size: 14px;
    }
    .screen-two .wraper .block-left h2 {
        font-size: 37px;
    }
    .screen-two .wraper .block-right {
        flex-direction: column;
        align-items: center;
    }
    .screen-two .wraper .block-right .img1 {
        width: 210px;
        height: 280px;
        margin-top: 28px;
    }
    .screen-two .wraper .block-right .img2 {
        width: 210px;
        height: 280px;
        margin-top: 24px;
    }
    .screen-two .wraper .block-right .img3 {
        width: 210px;
        height: 280px;
        margin-top: 24px;
    }
    .screen-three .wraper h2 {
        margin-top: 60px;
        font-size: 37px;
    }
    .screen-two .wraper .block-left h2 {
        margin-top: 60px;
        font-size: 37px;
    }
    .screen-four .wraper .container h2 {
        margin-top: 60px;
        font-size: 37px;
    }
    .screen-five .wraper h2 {
        margin-top: 60px;
        font-size: 37px;
    }
    .screen-six .wraper h2 {
        margin-top: 60px;
        font-size: 37px;
    }
    .screen-seven .wraper .containers h4 {
        padding-top: 59px;
    }
    .screen-seven .wraper .containers {
        height: 530px;
    }
    .accordion {
        height: 85px;
    }
}