@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    color: #171616;
    font-family: 'Poppins', serif;
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;
}
.wraper {
    width: 1376px;
    margin-left: auto;
    margin-right: auto;  
}
header .wraper {
    display: flex;
    justify-content: space-between;
}
header .wraper .header-right .menu {
    display: none;
}
.header-left .header-logo {
    padding: 32px 0;
    margin-right: 24px;
}

.header-left nav ul {
    display: flex;
    list-style: none; 
}
.header-left {
    display: flex;
}
.header-left nav ul li a {
    padding: 32px  16px;
    display: inline-block;
    text-decoration: none;
    color: #171616;
}

.header-left nav ul li a:hover {
    color: gray;
}

.header-right .btn {
    color: white;
    background-color: #171616;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 100px;
    display: inline-block;
}
.header-right .btn:hover {
    background-color: gray;
}
.header-right {
    display: flex;
}
.header-right .btn-wraper {
    padding: 24px 0;
    margin-left: 20px;
}
.header-right .text-wraper {
    padding: 24px 0;
}
.header-right .text-wraper .text-gray {
    color: gray;
}
.header-right .text-wraper span {
    text-decoration: line-through;
}
.main-screen .wraper .container {
    background-color: #171616;
    height: 780px;
    border-radius: 24px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.078) 0%, rgba(255, 255, 255, 0) 100%), #171616;   
    position: relative; 
}
.main-screen .wraper .container .bicycle {
    background: url(./img/bicycle.png) center bottom no-repeat ;
    position: absolute;
    background-position-x: 106px ;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-screen .wraper .container h4 {
    font-family: 'Poppins', serif;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 109px;
}

.main-screen .wraper .container h1 {
    font-family: 'Poppins', serif;
    font-size: 100px;
    color: white;
    text-align: center;
    line-height: 112px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/* .main-screen .wraper .container span {
    font: 'Poppins', serif;
    font-size: 100px;
    color: white;
    text-align: center;

} */
.btn-play .btn {
    color: white;
    background: linear-gradient(0deg, rgba(23, 22, 22, 0.2), rgba(23, 22, 22, 0.2)),
    linear-gradient(262.77deg, rgba(255, 255, 255, 0.074) -24.16%, rgba(255, 255, 255, 0) 109.47%);
    backdrop-filter: blur(6px);
    text-decoration: none;
    position: relative;
    z-index: 1;
    border-radius: 100px;
    display: flex; 
}

.btn-play {
    display: flex;
    justify-content: center;
    margin-top: 52px;
}

.btn-play .btn img {
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.btn-play .btn span {
    padding-top: 26px;
    /* padding-left: 24px; */
    padding-bottom: 26px;
    padding-right: 24px;
}
.btn-play .btn:hover {
    backdrop-filter: blur(10px);
}
.screen-two .wraper .block-left {
    display: flex;
    flex-direction: column;
}
.screen-two .wraper {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}
.screen-two .wraper .block-left h2 {
    font-family: 'Poppins', serif;
    font-size: 68px;
    line-height: 72px;
    font-weight: 400;
    margin-top: 200px;
   
    width: 35%;

}
.screen-two .wraper .block-left h4 {
    font-family: 'Poppins', serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    
    width: 35%;
}
.screen-two .wraper .block-left .block-left-two {
    display: flex;
   
   margin-top: 44px;
}
.screen-two .wraper .block-left .block-left-two .btn .btn-two {
    text-decoration: none;
    background-color: #171616;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', serif;
    padding: 12px 28px;
    border-radius: 100px;
    display: inline-block;
    margin-right: 32px;
} 
.screen-two .wraper .block-left .block-left-two .btn .btn-two:hover {
    background: gray;
}

.screen-two .wraper .block-left .block-left-two .text-wraper-two .text-gray {
    color: gray;
} 
.screen-two .wraper .block-left .block-left-two .text-wraper-two span {
    text-decoration: line-through;
}

.screen-two .wraper .block-left .block-left-two .text-wraper-two {
    padding-top: 4px;
}

.screen-two .wraper{
    height: 928px;
}

.screen-two .wraper .block-right {
    display: flex;
    position: relative; 
}

.screen-two .wraper {
    display: flex;
    justify-content: space-between;
    
}

.screen-two .wraper .block-right .img1 {
    position: absolute;
    top: 160px;
    right: 346px;
    width: 340px;
    height: 580px;
    border-radius: 24px;
}

.screen-two .wraper .block-right .img2 {
    position: absolute;
    top: 468px;
    right: 130px;
    width: 280px;
    height: 360px;
    border-radius: 24px;
}

.screen-two .wraper .block-right .img3 {
    position: absolute;
    top: 203px;
    right: 0;
    width: 280px;
    height: 360px;
    border-radius: 24px;
}

/* .screen-two .wraper .block-right .btn-play {
    height: 24px;
} */

.screen-two .wraper .block-right .btn-play-two {
    position: absolute;
    width: 251px;
    height: 169px;
    right: 303px;
    top: 190px;
}

.screen-two .wraper .block-right .btn-play-two .btn-three  {
    font-size: 16px;
    /* padding: 0 26px; */
    background: linear-gradient(0deg, rgba(23, 22, 22, 0.2), rgba(23, 22, 22, 0.2)),
    linear-gradient(262.77deg, rgba(255, 255, 255, 0.074) -24.16%, rgba(255, 255, 255, 0) 109.47%);
    backdrop-filter: blur(6px);
    color: white;
    text-decoration: none;
    position: relative;
    top: 88px;
    left: 0;
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
}

.screen-two .wraper .block-right .btn-play-two .btn-three:hover {
    backdrop-filter: blur(12px);
}

.screen-two .wraper .block-right .btn-play-two .btn-three img {
    /* padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 9px; */
    margin-right: 16px;
}
.screen-two .wraper .block-right .btn-play-two .btn-three span {
    /* padding: 26px 24px;
    padding-left: 9px; */
}
.screen-two .wraper .block-right .btn-play-two .line {
    height: 127px;
    width: 0;
    left: 44px;
    top: 0;
    position: absolute;
    border: 0.5px solid #FFFFFF ;
}
.screen-two .wraper .block-right .btn-play-two .point {
    height: 4px;
    width: 4px;
    border-radius: 100px;
    background-color: white;
    left: 43px;
    position: absolute;
    top: 0;
}
.screen-three .wraper {
    /* margin-left: 100px; */
    width: 1240px;
}
.screen-three .wraper .cards {
    display: flex;
}
.swiper-scrollbar {
    margin-top: 20px;
}
.card.swiper-slide {
    margin-bottom: 80px;
}

#cards.swiper {
    /* overflow: visible; */
}

.screen-three .wraper h2 {
    font-size: 68px;
    font-family: 'Poppins', serif;
    font-weight: 400;
    line-height: 80px;
    color: #171616;
    margin-bottom: 80px;
}
.screen-three .wraper .cards .card {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.screen-three .wraper .cards .card img {
    width: 398px;
    height: 532px;
    border-radius: 24px;
}
.screen-three .wraper .cards .card h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 32px;
}
.screen-three .wraper .cards .card p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.screen-four .wraper {
    /* margin-left: 100px; */
    margin-top: 160px;
    width: 1240px;
}
.screen-four .wraper .container h2 {
    font-size: 68px;
    line-height: 80px;
    font-family: 'Poppins', serif;
    color: #171616;
    font-weight: 400;
} 

.screen-four .wraper .container .text-colomn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Poppins', serif;
    font-weight: 400;
    line-height: 24px;
    color: #171616;
    margin-top: 36px;
    margin-bottom: 48px;
}
.screen-four .wraper .container .text-colomn p:first-child {
    padding-right: 40px;
}
.screen-four .wraper .container .text-colomn p:last-child {
    padding-left: 40px;
}
.screen-four .wraper .container .text-image {
    width: 23%;
   
    top: 812px;
}
.screen-four .wraper .container .text-image h3 {
    font-size: 28px;
    font-family: 'Poppins', serif;
    font-weight: 500;
    line-height: 36px;
    color: white;

}
.screen-four .wraper .container .text-image p {
    font-size: 14px;
    font-family: 'Poppins', serif;
    font-weight: 300;
    line-height: 20px;
    color: white;
}

.screen-four .wraper .container .text-image {
    position: absolute;
    top: auto;
    left: 40px;
    bottom: 40px;
}
.screen-four .wraper .container .wraper-text-image {
    position: relative;
}
.screen-four .wraper .container .btn-marketplace {
    position: absolute;
    bottom: 21px;
    display: flex;
    justify-content: space-between;
    right: 20px;
} 
.screen-four .wraper .container .btn-marketplace .apple {
    margin-right: 12px;
}

#mobile .swiper-scrollbar {
    margin-top: 20px;
}

#mobile .swiper-wrapper {
    margin-bottom: 80px; 
}

#mobile .swiper-pagination-bullet {
    width: 100px;
    height: 2px;
    border-radius: 0;
}
#mobile .swiper-pagination-bullet-active {
    background-color: #171616;
}
.screen-five .wraper {
    width: 1240px;
    margin-top: 100px;
}
.screen-five .wraper h2 {
    font-size: 68px;
    font-weight: 400;
    line-height: 80px;
    font-family: 'Poppins', serif;
    color: #171616;
    margin-bottom: 82px;
}

.reviews  .text-review {
    display: flex;
    align-items: flex-start;
}
.reviews  .text-review img {
    margin-right: 32px;
}
.wraper-reviews {
    width: 664px;
    margin-left: auto;
    margin-right: auto;
}
.reviews  .text-review.active {
    display: flex;
    align-items: flex-start;
}
.reviews  .text-review p {
    
    font-family: 'Poppins', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #171616;
}
.reviews  .text-review.active img {
    margin-right: 32px;
}
.authors .customer .h {
    display: none;
}
.authors {
    display: flex;
    margin-top: 40px;
    margin-left: 78px;
}

.authors .customer.active {
    display: flex;
    background-color: #171616;
    width: 306px;
    height: 88px;
    border-radius: 100px;
   
}
.authors .customer.active .h  {
    color: #FFFFFF;
    margin-top: 22px;
    display: block;
}
.authors .customer.active .h h4 {
    font-size: 20px;
}
.authors .customer.active .h h5 {
    font-size: 14px;
    color: #9E9393;
}

.authors .customer.active .img {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
}
.authors .customer {
    margin-top: 56px;
    margin-right: 12px;
    margin-left: 12px;
    background: transparent;
    width: auto;
    height: auto;
    opacity: 1;
    margin-top: 56px;
}
.authors .customer:not(.active) {
    padding-top: 16px;
}

.screen-six .wraper {
    width: 1240px;
    margin-top: 100px;
}
.screen-six .wraper h2 {
    font-size: 68px;
    font-family: 'Poppins',serif;
    line-height: 80px;
    margin-bottom: 60px;
    font-weight: 400;
}

.accordion {
    background-color: #171616;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 100px;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 24px;
    /* transition: 0.1s; */
    font-size: 20px;
    font-family: 'Poppins', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 12px;
  }
  .accordion:first-child {
    margin-top: 0;
  }

  .accordion.active {
    border-radius: 24px 24px 0 0 ;
  }
  .accordion img {
    transform: rotate(180deg);
  }
  .accordion.active img {
    transform: rotate(0deg);
  }
  .accordion span {
    background: linear-gradient(262.77deg, rgba(255, 255, 255, 0.074) -24.16%, rgba(255, 255, 255, 0) 109.47%), rgba(23, 22, 22, 0.2);
    backdrop-filter: blur(6px);
    padding: 4px 8px;
    border-radius: 8px;
  }
  .accordion img {

  }
  .panel {
    padding: 0 18px;
    background-color: #171616;
    display: none;
    overflow: hidden;
    border-radius: 0 0 24px 24px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', serif;
  }

 table {
    width: 820px;
    /* margin-left: 380px; */
    margin-left: auto;
    margin-right: 40px;

    
}
table td {
    border-top: 1px solid rgba(196, 196, 196, 0.1);
    padding: 24px 0;
    width: 50%;

}
table, td, tbody, tr {
    border-collapse: collapse;
    border: none;
}


.screen-seven .wraper {
    margin-top: 100px;
    width: 1376px;
    margin-left: auto;
    margin-right: auto;
    
   
}
.screen-seven .wraper .containers {
    background: radial-gradient(59.66% 59.66% at 50% 33.22%, rgba(255, 255, 255, 0.108) 0%, rgba(255, 255, 255, 0) 100%), #171616;
    border-radius: 24px;
    position: relative;
    height: 1040px;

}
.screen-seven .wraper .containers  h4{
    font-family: 'Poppins', serif;
    font-size: 16px;
    text-align: center;
    padding-top: 109px;
    color: white;
}
.screen-seven .wraper .containers  h1 {
    font-family: 'Poppins', serif;
    font-size: 68px;
    line-height: 80px;
    text-align: center;
    /* padding-top: 109px; */
    color: white
}
.screen-seven .wraper .containers  .btn-order  {
    background-color: white;
    text-decoration: none;
    font-size: 16px;
    color: #171616;
    border-radius: 100px;
    padding: 12px 28px;
    border: none;
}
.btn-order:hover {
    background: gray;
    cursor: pointer;
}

.screen-seven .wraper .containers .wrapper .btn-order {
    /* margin-top: 44px; */
}
.screen-seven .wraper .containers .wrapper  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 44px;

}

.wraper-btn {
    background: linear-gradient(262.77deg, rgba(255, 255, 255, 0.074) -24.16%, rgba(255, 255, 255, 0) 109.47%), rgba(23, 22, 22, 0.2);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    /* padding: 14px 16px; */
    /* margin: 14px 16px; */
    padding: 14px 16px;
    border-radius: 100px;
    margin-right: 20px;

}
.point {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: white;
    position: relative;
    margin-right: 12px;
    cursor: pointer;
}

.point.point_1 {
    background: #121111;
}
.point.point_2 {
    background: #938D82; 
}
.point.point_3 {
    background: #656D68;

}

.point:last-child {
    margin-right: 0;
}
.point.selected::after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    bottom: -3px;
    right: -3px;
    border: 1px solid white;
    border-radius: 100px;



}

.bike {
    background: url(./img/bike/sand.png) center bottom no-repeat;
    background-size: 1140px auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 59px;
    left: 0;
}

footer .wraper {
    width: 1376px;
    display: flex;
    justify-content: space-between;
}
footer .wraper .left select {
    font-size: 14px;
    color: #171616;
    border: none;
}
footer .wraper .left {
    display: flex;
    align-items: center;
}
footer .wraper .left img {
    padding-right: 10px;
}
footer .wraper .right ul {
    display: flex;
}
footer .wraper .right ul li a {
    display: inline-block;
    padding: 34px 12px;
    text-decoration: none;
    font-size: 14px;
    color: #171616;
}
footer .wraper .right ul span {
    display: inline-block;
    padding-top: 34px;
    padding-right: 0;
    padding-left: 12px;
    
}
footer .wraper .right ul  li {
    list-style: none;
}

#mobile .swiper-slide > img {
    max-width: 100%;
}























